body{
    background-color:#000000;
}

header{
    width:100%;
    
}

.game-logo{
    display: block;
    margin:auto;
    margin-bottom: 0px;
}

.header-text{
    color:#ffffff;
    font-family: 'Amatic SC', cursive;
    font-size: 150%;
    text-align: center;
    margin-top: 0px;
    padding-left: 20px;
}

/*Dalek Image containter*/
.hangman-image-container{
    width:75%;
    height:10em;
    margin: auto;
    background-color: red;
}

/*Dalek hangman image*/
.hangman-image{
    width:75%;
    height:0em;
    margin:auto;
    background-image: url("../images/dalekwhole.png");
    background-position: bottom;
    background-size:50%;
    background-repeat: no-repeat;
    background-color: #000000;

}

.game-play-container{
    border: solid 1px #ffffff;
    width:75%;
    margin:auto;
}

.game-play-container > div{
    display: inline-block;
    width: 49%;
}

.directions{
    font-family:'Amatic SC', cursive;
    color:#ffffff;
    border: solid 1px #ffffff;
    text-align: center;
    font-size: 120%;
    
}



.hint-image-container{
    width: 75%;
    margin: auto;
    
}

.hint-image{
    margin: auto;
    max-width: 100%;
}