body{
    background-color:#000000;
}

header{
    width:100%;
    
}

.game-logo{
    display: block;
    margin:auto;
    margin-bottom: 0px;
}

.header-text{
    color:#ffffff;
    font-family: 'Amatic SC', cursive;
    font-size: 150%;
    text-align: center;
    margin-top: 0px;
    padding-left: 20px;
}

/*Dalek Image containter*/
.hangman-image-container{
    width:75%;
    height:10em;
    margin: auto;
    
}

/*Dalek hangman image*/
.hangman-image{
    width:auto;
    height:10em;
    margin:auto;
    background-color: #000000;

}

.game-play-container{
    border: solid 1px #ffffff;
    width:75%;
    margin:auto;
}

.game-play-container > div{
    display: inline-block;
    width: 49%;
}

.user-interaction-containter{
    border-left: solid 1px #ffffff;
}

.directions{
    font-family:'Amatic SC', cursive;
    color:#ffffff;
    
    text-align: center;
    font-size: 120%;
    
}


.hint-image-container{
    width: 75%;
    margin: auto;
    
}

.hint-image{
    margin: auto;
    max-width: 100%;
}

.word-to-guess{
    margin: auto;
    text-align:center;
}
.set-underscore{
    color:#ffffff;
    font-size: 170%;
    display: inline-block;
    padding-right:10px;
    margin: auto;
}

.letters-guessed{
    color:#ffffff;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 150%;
    
}


.replacement{
    color:#ffffff;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 150%;
    display: inline-block;
    padding-right: 10px;

}

.correct-guess{
    color:#ffffff;
    font-size: 170%;
    display: inline-block;
    padding-right:10px;
    margin: auto;

}

.wrong-guesses{
    margin: auto;
    text-align:center;
}

.wrong-letters{
    color:#ffffff;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 150%;
    display: inline-block;
    padding-right: 10px;

}