body{
    background-color:#000000;
}

header{
    width:100%;
    height: 20%;
}

.game-logo{
    display: block;
    margin:auto;
    margin-bottom: 0px;
}

.header-text{
    color:#ffffff;
    font-family: 'Amatic SC', cursive;
    font-size: 200%;
    text-align: center;
    margin-top: 0px;
    padding-left: 20px;
}

/*Dalek Image containter*/
.hangman-image-container{
    width:50%;
    height:15em;
    margin: auto;
    background-color: red;
}

/*Dalek hangman image*/
.hangman-image{
    width:50%;
    height:0em;
    margin:auto;
    background-image: url("../images/dalekwhole.png");
    background-position: bottom;
    background-size:50%;
    background-repeat: no-repeat;
    background-color: #000000;

}






.hint-image-container{
    width: 25%;
}

.hint-image{
    max-width: 100%;
}